# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

#visual studio code的设置文件夹
.vscode

#python缓存
__pycache__
*.pyc

#jupyter缓存
.ipynb_checkpoints
*/.ipynb_checkpoints

#虚拟环境文件夹
#virtual environment创建的环境文件夹
venv
#pipenv创建的环境文件夹
.venv

#本机环境变量
.env

#测试用的文件
tests

#Flask开发内容
#缓存文件
app/temp
#日志文件
app/logs
#用户文件
app/users
#数据库源文件
app/models/*/source
app/models/source

#NodeJS环境
node_modules
*/node_modules