[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = { extras = ["async"], version = "*" }
# base
python-dotenv = "*"
bcrypt = "*"
cryptography = "*"
# flask extensions
#flask-babel = "*"
#flask-moment = "*"
# database
sqlalchemy = "*"
redis = "*"
pymysql = "*"
#hashids = "*"
flask-sqlalchemy = "*"
flask-redis = "*"
flask-migrate = "*"
#flask-whooshee = "*"
# http
requests = "*"
flask-cors = "*"
flask-limiter = "*"
#flask-socketio="*"
# email
email-validator = "*"
flask-mail = "*"
# login
wtforms = "*"
flask-httpauth = "*"
flask-wtf = "*"
flask-login = "*"
# file
reportlab = "*"
xlrd = "*"
openpyxl = "*"
# task
celery = "*"
flask-caching = "*"
# algorithm
efficient-apriori = "*"
fpgrowth-py = "*"
numpy = "*"
scipy = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
python-louvain = "*"
# server
pyopenssl = "*"
eventlet = "*"
gevent = "*"
#waitress = "*"
#gunicorn = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
faker = "*"
watchdog = "*"
pysnooper = "*"
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.9"
