alembic==1.7.4
amqp==5.0.6
asgiref==3.4.1
astroid==2.8.4
atomicwrites==1.4.0
attrs==21.2.0
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.1.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==35.0.0
cycler==0.11.0
dnspython==2.1.0
efficient-apriori==2.0.1
email-validator==1.1.3
et-xmlfile==1.1.0
eventlet==0.32.0
Faker==9.8.0
flake8==4.0.1
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-HTTPAuth==4.5.0
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-redis==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==0.15.1
fpgrowth-py==1.0.0
gevent==21.8.0
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
isort==5.10.0
itsdangerous==2.0.1
Jinja2==3.0.2
kiwisolver==1.3.2
kombu==5.2.0
lazy-object-proxy==1.6.0
limits==1.5.1
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
networkx==2.6.3
numpy==1.21.3
openpyxl==3.0.9
packaging==21.2
pandas==1.3.4
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
prompt-toolkit==3.0.22
py==1.10.0
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
pylint==2.11.1
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.4
PySnooper==1.0.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.1
python-louvain==0.15
pytz==2021.3
redis==3.5.3
reportlab==3.6.2
requests==2.26.0
scipy==1.7.1
six==1.16.0
SQLAlchemy==1.4.26
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
vine==5.0.0
watchdog==2.1.6
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==2.3.3
xlrd==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
