alembic==1.6.5
amqp==5.0.6
asgiref==3.4.1
astroid==2.6.5
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
baidu-aip==2.2.18.0
bcrypt==3.2.0
bidict==0.21.2
billiard==3.6.4.0
blinker==1.4
celery==5.1.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
croniter==1.0.15
cryptography==3.4.7
cycler==0.10.0
decorator==4.4.2
dnspython==1.16.0
efficient-apriori==1.1.1
email-validator==1.1.3
et-xmlfile==1.1.0
eventlet==0.31.1
Faker==8.1.4
Flask==2.0.1
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-Principal==0.4.0
flask-redis==0.4.0
Flask-RQ2==18.3
Flask-Security-Too==4.1.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
flask-whooshee==0.8.1
Flask-WTF==0.15.1
fpdf2==2.4.2
fpgrowth-py==1.0.0
gensim==3.8.3
greenlet==1.1.1
hashids==1.3.1
idna==3.2
iniconfig==1.1.1
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
kombu==5.1.0
lazy-object-proxy==1.6.0
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
networkx==2.6.2
node2vec==0.4.1
numpy==1.21.2
openpyxl==3.0.7
packaging==21.0
pandas==1.3.2
passlib==1.7.4
pdfminer.six==20200517
pdfplumber==0.5.28
Pillow==8.3.1
pluggy==0.13.1
prompt-toolkit==3.0.19
py==1.10.0
pycparser==2.20
pycryptodome==3.10.1
pylint==2.9.5
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF3==1.0.5
pypinyin==0.42.0
PySnooper==0.4.3
pytest==6.2.4
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.19.0
python-editor==1.0.4
python-engineio==4.2.1
python-http-client==3.3.2
python-Levenshtein==0.12.2
python-louvain==0.15
python-socketio==5.4.0
pytz==2021.1
redis==3.5.3
reportlab==3.6.1
requests==2.26.0
rq==1.9.0
rq-scheduler==0.11.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
smart-open==5.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.23
starkbank-ecdsa==1.1.1
text-unidecode==1.3
threadpoolctl==2.2.0
toml==0.10.2
tqdm==4.62.1
urllib3==1.26.6
vine==5.0.0
waitress==2.0.0
Wand==0.6.7
watchdog==2.1.1
wcwidth==0.2.5
Werkzeug==2.0.1
Whoosh==2.7.4
wrapt==1.12.1
WTForms==2.3.3
xlrd==2.0.1
