{% extends 'base.html' %}

{% block scripts %}
    <!-- vue2 -->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    {#    <script src="{{ url_for('static',filename='js/frame/vue/v2/vue.js') }}"></script>#}

    <!-- 生产环境版本，优化了尺寸和速度 -->
    {#    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>#}
    {#    <script src="{{ url_for('static',filename='js/frame/vue/v2/vue.min.js') }}"></script>#}

{% endblock scripts %}